
body {
    width: 80%;
}

.description img {
    width: 210px;
    border-radius: 10px;
}

.bio {
    width: 50%;
    margin-left: 8%;
}

.bio blockquote {
    border-left: 1px solid rgb(131, 131, 131);
    padding: 0px 10px;
}

.description {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.description {
    font-size: 0.9rem;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.propic {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    color: rgb(131, 131, 131);
} 