.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    font-family: 'lato', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #555555;
}

.social {
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.social a {
    color: black;
}

.social a:hover {
    transform: scale(1.2);
}